/*Home Section*/

#home {
    width: 100%;
    background-color: #FFFFFF;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home-myname {
    color: #000000;
    font-size: 4rem;
    font-weight: bold;
}

.home-profile {
    font-size: 1.5rem;
    color: #6C6D6E; 
}

.hire-me-button {
    position: absolute;
    top: 110%;
    background-color: #d53b70;
    color: black;
    border: none;
    width: 7rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5rem;
    font-size: 1rem;
    border-right: 2px solid #AA376B;
    border-bottom: 5px solid #AA376B;
    box-shadow: 7px 10px 10px #d53b70;
    transition: all 0.3s ease;
}

.hire-me-button:hover {
    background-color: #AA376B;
    border-right: 1px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}


/* Responsive styles */

@media screen and (min-width: 800px) {

}

@media screen and (max-width: 800px) {
    .home-myname {
        font-size: 3rem;
    }

    .home-profile {
        font-size: 1.2rem;
    }

    .hire-me-button {
        width: 6rem;
        font-size: 14px;
    }
    
}

@media screen and (max-width: 600px) {
    .home-myname {
        font-size: 2rem;
    }

    .home-profile {
        font-size: 0.9rem;
    }

    .hire-me-button {
        width: 5rem;
        font-size: 12px;
    }

}