/*Contact Section*/

#contact {
    max-width: 100%;
    max-height: 100%;
    background-color: #ffffff;
    padding: 10px;
}

.contact-header {
  color: #000000;
  font-weight: bold;
  font-size: 3rem;
  padding-left: 50px;
  padding-bottom: 10px;
}

.contact-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
    padding: 5vw;
    margin-top: 10px;
    box-shadow: 7px 10px 20px #d53b70;
  }

  #contact h2 {
    margin-bottom: 1vw;
    padding-left: 40px;
  }

  #contact label {
    display: block;
    margin-bottom: 1vw;
  }

  .contact-label {
    font-size: 17px;
    color: #6C6D6E;
  }

  #contact input[type="text"],
  #contact textarea {
    outline: none;
    width: 100%;
    padding: 1vw;
    border: 1px solid #d53b70; 
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 16px;
    color: #000000;    
  }

  #contact input[type="email"],
  #contact textarea {
    outline: none;
    width: 100%;
    padding: 1vw;
    border: 1px solid #d53b70;
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 16px;
    color: #000000;
  }

  #contact textarea {
    padding: 1vw;
    width: 100%;
    resize: vertical;
    height: 20vh;
    font-size: 16px;
    color: #000000;
  }

  #contact input[type="submit"] {
    
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    background-color: #d53b70;
    box-shadow: 2px 5px 5px #d53b70;
    transition: all 0.3s ease;
  }

  #contact input[type="submit"]:hover {
    background-color: #AA376B;
    border-bottom: 2px solid #ffffff;
    border-right: 1px solid #ffffff;
  }

/*Media Query Responsiveness*/

@media screen  and (max-width: 1024px) {
  .contact-header {
    font-size: 2.5rem;
  }

  .contact-label {
    font-size: 16px;
  }

  #contact input[type="text"],
  #contact textarea {
    font-size: 14px;
  }

  #contact input[type="email"],
  #contact textarea {
    font-size: 14px;
  }

  #contact input[type="submit"] {
    font-size: 14px;
  }
}

@media screen  and (max-width: 768px) {
  .contact-header {
    font-size: 2rem;
  }

  .contact-label {
    font-size: 14px;
  }

  #contact input[type="text"],
  #contact textarea {
    font-size: 13px;
  }

  #contact input[type="email"],
  #contact textarea {
    font-size: 13px;
  }

  #contact input[type="submit"] {
    font-size: 13px;
  }
  
}

@media screen  and (max-width: 600px) {
  .contact-header {
    font-size: 1.5rem;
  }

  .contact-label {
    font-size: 12px;
  }

  #contact input[type="text"],
  #contact textarea {
    font-size: 12px;
  }

  #contact input[type="email"],
  #contact textarea {
    font-size: 12px;
  }

  #contact input[type="submit"] {
    font-size: 12px;
  }

}